@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --headerfont:'Lobster',cursive;
  --primaryfont:'Courier New',monospace;

  --primarytext:white;
  --primaryback:black;
  --secondary:lightblue;
}

body {
  margin: 0;
  font-family: var(--primaryfont);
  background-color:var(--secondary);
}

button {
   background-color:var(--primaryback);
   color:var(--primarytext);
   padding:10px 20px;
   border-radius:10px;
}
button:hover {
  background-color:var(--primarytext);
  color:var(--primaryback);
  cursor:pointer;
}

header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  font-family: var(--headerfont);
  font-size:1.6em;
  flex-wrap:wrap;

  background-color:var(--primaryback);
  color:var(--primarytext);
}
header h1 {
  margin:15px 30px;
}
#page-nav {
  padding:0;
  margin:0 20px;
}
#page-nav a {
  text-decoration: none;
  color:var(--primarytext);
  padding:5px;
}
#page-nav li {
  display:inline;
  margin:0 30px;
  list-style-type: none;
}
#page-nav a:hover {
  color:var(--secondary);
}
#page-nav a.active {
  box-shadow: 0 0 10px 10px var(--primarytext);
}

/* Hoverable items get effects */
.hovereffect {
  transition: transform 0.5s;
}
.hovereffect:hover {
  filter:brightness(125%);
  transform:scale(105%);
  box-shadow: 0 0 20px 20px var(--primarytext);
}

#about-area {
  width:70%;
  font-size:larger;
}

/* Behavior of link cards in project section */
#portfolio-area {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.card {
  width:45%;
  min-width:300px;
  margin:1%;
}
.card span {
  font-size: 70%;
}
.card figure {
  /* Image + label section get alignment and wrap behavior */
  width:100%;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  position:relative;
  justify-content:flex-end;
  align-items:flex-end;
}
.card figure img {
  width:100%;
}
.card figure>img {
  border:5px solid var(--primaryback);
}
.card div.fc {
  /* Bring label of each card into bottom-right corner of image */
  display:block;
  position:absolute;
  height:auto;
  width:150px;
  padding:5px;
  font-size:20px;
  background-color:var(--primaryback);
  color:var(--primarytext);
}
.card a {
  display:none;
  position:absolute;
  height:auto;
  width:20%;
  padding:5px;
}
.card:hover a {
  display:block;
}
.card a img {
  filter:brightness(170%);
}
.card a:hover img {
  filter:brightness(100%);
}

#contact-area {
  border:5px solid var(--primaryback);
  border-radius:20px;
  width:50%;
  max-width:1000px;
  min-width:400px;
}
.form-header {
  background-color:var(--primaryback);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#contact-area h2 {
  margin:0;
  padding:20px;
  color:var(--primarytext);
}
#contact-area form {
  padding:20px;
}
#contact-area p {
  padding: 0px 20px;
}
#contact-area form>* {
  display:block;
}
#contact-area form>*:nth-child(2n) {
  margin-bottom:10px;
}
#contact-area form textarea {
  resize:none;
  height:100px;
}
#contact-area form textarea, #contact-area form input {
  width:100%;
}

main {
  padding:30px;
}
.center-content {
  display:flex;
  justify-content:center;
}